.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}


.logo-container {
  display: flex; 
  align-items: center; 
}

.logo {
  width: 50px; 
  height: auto; 
  margin-right: 0; 
  margin-right: 20px;
}

@font-face {
  font-family: 'Mistrully';
  src: url('fonts/Mistrully-Ojmd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.logo-text {
  font-family: 'Mistrully', sans-serif; 
  font-size: 20px; 
  color: #050000; 
  margin-left: 0; 
}
.accueil-photos img {
  width: 33%;
  margin: auto;
}

.accueil-introduction {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: none;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 190px;
}


#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

.accueil-introduction video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: -10%;
  left: 0%;
  z-index: -100;
}

.accueil-introduction::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -99;
  background-color: black;
  opacity: 15%;
  top: 0;
  left: 0;
}

.accueil-introduction .gif-en-haut-a-droite {
  position: absolute;
  top: 0;
  right: 20px;
  width: 5%; 
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;
  
}

.accueil-introduction div {
  padding-right: 80px;
  margin: auto;
}

.accueil-introduction img {
  width: 40%;
  border-radius: 59% 41% 49% 51% / 53% 30% 70% 47%;
}


/* Conteneur centré */
.center-content {
  display: flex;
  flex-direction: column; /* Empile les éléments (titre + lien) */
  justify-content: center;
  align-items: center;
  height: 45vh; /* Prend toute la hauteur de la page */
  text-align: center;
}

/* Titre "empereur tamarin" */
.title {
  font-family: 'Mistrully', sans-serif; /* Applique la police Mistrully */
  font-size: 48px; /* Taille du texte */
  color: #ffffff; /* Couleur du texte */
  margin-bottom: 20px; /* Espacement avec le lien */
}

/* Lien simple */
.simple-link {
  font-family: 'Montserrat', sans-serif; /* Police différente pour le lien si souhaité */
  font-size: 11px; /* Taille du texte */
  color: #ffffff; /* Couleur du lien */
  text-decoration: none; /* Supprime le soulignement par défaut */
  transition: color 0.3s ease; /* Animation de changement de couleur */
}

.simple-link:hover {
  color: #F6DA99; /* Couleur au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol */
}


.section-contact{
  position: relative;
  overflow: hidden;
}

.section-contact video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: -60%;
  left: 0%;
  z-index: -100;
}

.section-contact::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -99;
  background-color: black;
  opacity: 15%;
  top: 0;
  left: 0;
}


.section-contact h2 {
  color: #F6DA99;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
  
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.form-column input:focus {
  border: 2px solid black;
  outline: none;
}

textarea:focus {
  border: 2px solid black;
  outline: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  .accueil-introduction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .accueil-introduction div {
    padding-right: 0;
    text-align: center;
    order: 2;
  }

  .accueil-introduction img {
    order: 1;
    margin-bottom: 20px;
    width: 30%;
  }

  .accueil-photos {
    padding: 20px;
  }

  .accueil-photos h2{
    margin-top: 50px;
  }
  .accueil-photos div {
    flex-direction: column;
  }

  .accueil-photos img {
    width: 80%;
  }

  .section-contact {
    padding: 50px 20px;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }


}